.Mainbar
  .OneGroup
    .GroupContent
      %ul.GroupName
        - current_user.groups.each do |group|
          %li.Namegroup= group.name
      %ul.MemberName 
        - @group.users.each do |user|
          %li= user.name
    = link_to edit_group_path(@group) , class: "content__btn content__btn--edit" do
      Edit
  .Spacechat
    = render @messages
  .Sendform
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'Form__content', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image',)
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Send'

